
  @media (min-width: 600px) {
    
    figure {
      margin: 3.5rem 0 0 0;
      flex-basis: 25%;
      background-color: #59331d;
      border-radius: 10px;
    }
    
    figcaption {
      color: #f2f2f2;
      padding: 1rem;
    }
}